@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}


section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f3f5f5;

}

section::before{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(-150px, -100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}


section::after{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    transform: translate(150px, 100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
}

.container{
    position: relative;
    height: 225px;
    width: 375px;
    z-index: 100;
}

.container .card{
    height:100%;
    width:100%;
    padding: 25px;
    border-radius: 20px;
    background:rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.logo img{
    width: 48px;
    margin-right: 10px;
}

.front-face .chip{
    width: 50px;
}

h5{
    font-size: 16px;
    font-weight: 400;
}

.front-face header{
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.front-face .card-details{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 40px;
}

h6{
    font-size: 10px;
    font-weight: 400;
}

h5.number{
    font-size: 18px;
    letter-spacing: 1px;

}

h5.name{
    margin-top: 20px;

}

.card.back-face{
    border: none;

}

.card.back-face h6{
    font-size: 8px;
}

.card.back-face .magnetic-strip{
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background: #000;
}

.card.back-face .signature{
    margin-top: 80px;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    height: 30px;
    width: 85%;
    border-radius: 6px;
    background: #fff;
}

.signature i{
    color: #000;
}
.card {
    width: 400px;
    height: 250px;
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
}